.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 60vh;
}

.content {
  padding: 4rem 4.8rem 6.4rem;
  overflow: scroll;
}

.h1-select {
  margin-bottom: 0.5rem;
  color: var(--color-grey-800);
}

.p-select {
  margin-bottom: 3rem;
  color: var(--color-grey-500);
}
